/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* =RESET
----------------------------------------------- */
* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-style: normal;
    z-index: 1;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =FLOAT CLEAR
----------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

/* =LINKS
----------------------------------------------- */
a:link, a:visited {
    color: #FFF;
    display: block;
    text-decoration: none;
}

/* =GLOBAL
----------------------------------------------- */
body {
    background: #c75b8b;
    color: #333;
    font-family: "jubilat";
    font-size: 100%;
    font-weight: 500;
    height: 100%;
    line-height: 1.45;
    position: relative;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 70%;
}

section {
    position: relative;
    text-align: center;
}

section article a {
    color: rgba(239,108,68,0.9);
}

section article a:hover {
    color: rgba(239,108,68,1);
}

h1, h2, h3 {
    font-family: "brandon-grotesque";
}

h2 {
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0;
    position: relative;
    text-transform: uppercase;
}

h3 {
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    margin: 10px 0;
    padding: 5px 0;
    position: relative;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 1em;
}

/* =COLUMNS
----------------------------------------------- */
.col-6 {
    width: 1204px !important;
}

.col-1 {
    padding-right: 20px;
    width: 184px;
}

.col-1:last-child {
    padding-right: 0!important;
}

.col-2 {
    padding-right: 20px!important;
    width: 388px;
}

/* =NAVIGATION
----------------------------------------------- */
nav ul li {
    position: relative;
}

nav ul li a {
	color: #FFF;
	display: inline-block;
	font-size: 1.25em;
    font-weight: 300;
    padding: 4px 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    z-index: 100;
}

nav ul li a::after {
    background:  hsl(210, 98%, 34%);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.2s;
}

nav ul li a:hover::after { width: 10px; }

.currentHash::after { width: 100%; }

/* =TOP
----------------------------------------------- */
.masthead {
    background-image: url(../images/masthead.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    text-align: center;
}


@media only screen
and (max-width: 1350px) {
    

    
}


@media only screen
and (max-width: 1024px) {



}

